<div class="header">
  <h1>San Diego apartment listings</h1>
  <div class="index">
    <ul>
      <% @buildings.order(:name).each do |building| %>
        <li><a href="#building<%= building.id %>"><%= building.name %></a></li>
      <% end %>
    </ul>
    <%= form_for @recipient, url: { controller: "recipients", action: "create" } do |f| %>
      <%= f.text_field :first_name, placeholder: "First name" %>
      <%= f.text_field :last_name, placeholder: "Last name" %>
      <%= f.text_field :email, placeholder: "Email address" %>
      <%= f.submit "Subscribe to updates", style: "width: 100%;" %>
    <% end %>
  </div>
</div>
<% @buildings.order(:name).each do |building| %>
  <div class="building" id="building_<%= building.id %>">
    <a name="building<%= building.id %>"></a>
    <h2><%= building.name %></h2>
    <div class="building-links">
      <%= link_to "Website", building.website, target: "_blank" %> |
      <%= link_to "Google Maps", "http://maps.google.com/?q=#{building.address}, San Diego, CA", target: "_blank" %>
    </div>
    <div class="filters">
      <div class="beds-filter">
        <% [0, 1, 2].each do |beds| %>
          <% if building.has_recently_seen_units_with_beds?(beds) %>
            <div class="filter" id="<%= "#{building.id}_#{beds}br_filter" %>">
              <input type="checkbox" id="<%= "#{building.id}_#{beds}br_checkbox" %>" checked>
              <label for="<%= "#{building.id}_#{beds}br_checkbox" %>"><%= beds %> beds</label>
              <br>starting at <%= number_to_currency(building.recently_seen_starting_rent_for_beds(beds), precision: 0) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% building.units.order(:rent).recently_seen.each do |unit| %>
      <div class="unit" data-beds="<%= unit.beds %>">
        <div class="summary">
          <div class="rent">
            <span class="rent-head"><%= number_to_currency(unit.rent, precision: 0) %></span>
            <span class="rent-sub"><%= unit.lease_months %> mo.</span>
          </div>
          <div class="name">
            Unit <%= unit.name %>
          </div>
          <div class="size">
            <%= unit.beds %> beds | <%= unit.square_feet %> sq. feet
          </div>
        </div>
        <div class="details">
          <div class="available">
            Available <%= unit.available.strftime("%B %-d") %>
          </div>
          <div class="first-seen">
            First seen <%= time_ago_in_words(unit.first_seen) %> ago
          </div>
        </div>
        <% if unit.recent_rent_alerts.count > 1 %>
          <div class="toggle">
            <a href class="toggle-link">Show historical rents</a>
          </div>
          <div class="historical-rents">
            <%= line_chart(unit.rent_by_date, min: unit.low_rent, max: unit.high_rent) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
