<table class="sortable">
  <tr>
    <th>Building</th>
    <th>Unit</th>
    <th>Rent</th>
    <th>Available</th>
    <th>Lease (months)</th>
    <th>Beds</th>
    <th>Sq. ft.</th>
    <th>First seen</th>
    <th>Last seen</th>
  </tr>
  <% @units.each do |unit| %>
    <tr>
      <td><%= unit.building_name %></td>
      <td><%= unit.name %></td>
      <td><%= number_to_currency(unit.rent, precision: 0) %></td>
      <td><%= unit.available.strftime("%B %-d") %></td>
      <td><%= unit.lease_months %></td>
      <td><%= unit.beds %></td>
      <td><%= unit.square_feet %></td>
      <td><%= unit.first_seen.strftime("%B %-d") %></td>
      <td><%= time_ago_in_words(unit.last_seen) %> ago</td>
    </tr>
  <% end %>
</table>
